<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Store</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=d2957c1c0a45d22fcf4328dcf9a4afe8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css?h=f467074361165fb75c539f59f8cd3e86">
    <script src="js\script.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="index.html">senderos artesanias</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><i class="fa fa-shopping-cart"></i></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/logo.png?h=4decfdb3cce69e21b40509af973b102a"></div>
                </div>
                <div class="col-lg-6 offset-0 order-lg-1">
                    <div class="p-2">
                        <h2 class="display-4">Senderos Artesanias</h2>
                        <p>📌Estampas: sublimación, serigrafía y vinilo<br>📦 Envíos a todo el país<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-5">
            <h2 class="display-4">Productos</h2>
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Senderos Artesanias - 2022</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>