<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SenderosArtesanias</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=d2957c1c0a45d22fcf4328dcf9a4afe8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css?h=f467074361165fb75c539f59f8cd3e86">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="index.html">Nombre Tienda</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><i class="fa fa-shopping-cart"></i></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container mt-5 mb-5">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/kruskis-camiseta-manga-corta-home.jpg?h=7dfc69745d5916d2a0936737d2b01a27"></div>
                </div>
                <div class="col-lg-6 offset-0 order-lg-1">
                    <div class="p-2">
                        <h2 class="display-4">Remera 1</h2>
                        <p>Remera 100% de algodón</p><button class="btn btn-primary" type="button">Tabla de talles</button>
                        <div class="modal fade" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Tabla de talles</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                    <div class="modal-body">
                                        <p>Aqui debajo se encuentra la tabla de talles correspondiente al producto</p><img src="assets/img/fichadetalles21-ad2547a524bbf3304616270441879079-640-0.jpg?h=3a6c6e0db71e5d67b1de372ae8bf68f4" style="width: 100%;"></div>
                                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="button">Hecho</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Talles Disponibles</td>
                                        <td>S - M - L - XL - XXL</td>
                                    </tr>
                                    <tr>
                                        <td>Colores</td>
                                        <td>Negro,blanco,rojo</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo de cuello</td>
                                        <td>Redondo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><button class="btn btn-primary" id="pedido-wpp" type="button"><a id="wpp" href="#">Hace tu pedido por acá<br></a></button></div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Senderos Artesanias - 2022</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>